@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0; 
}

:root {
    --dark-green: #268b2c;
    --light-green: #effbf0;
    --dark-purple: #6a52ff;
    --light-purple: #f3f1ff; 
    --dark-orange: #d2781a;
    --light-orange: #fdf3eb;
    --dark-blue: #2998ff;
    --light-blue: #f0f7ff;
    --dark-red: #cf2e2e;
    --light-red: #ffe5e5;
    --dark-gray: #676b6e;
    --light-gray: #f6f6f6;
    --yellow: #27292A;
}

.blue {
    background-color: var(--light-blue);
    color: var(--dark-blue);
}

.green {
    background-color: var(--light-green);
    color: var(--dark-green);
}

.purple {
    background-color: var(--light-purple);
    color: var(--dark-purple);
}

.orange {
    background-color: var(--light-orange);
    color: var(--dark-orange);
}

.red {
    background-color: var(--light-red);
    color: var(--dark-red);
}

body {
    background-color: var(--yellow);
}

.container {
    width: 90%;
    max-width: 1000px; 
    position: -webkit-sticky;
    margin: auto;
    margin-top: 40px;
    background-color: var(--light-green);
    padding-top: 1rem;
    padding-left: 8.5rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    border: 5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.3);
}

/* This is where we can stylize and or switch out logo and background colors*/ 
.person {
    position: relative;
    top: -.50px;
    left: 345px;
    display: flex; 
    align-items: flex;
}

.person-avatar {
    height: 130px;
    width: 170px;
    border-radius: 30px;
    background-color: var(--yellow);
    background: url(logo-no-background.png);
    background-size: contain;
    background-repeat: no-repeat;
}

section.form {
    display: flex;
    gap: 10px;
}

section.tableBody {
    margin-top: 1px;
    flex-direction: column;
}

input {
    max-width: 120px;
    outline: none;
    border: none;
    border-radius: 45px;
    height: 17px;
    font-size: 1.09rem;
    font-weight: 500;
    padding: 0.50rem 0.90rem; 
    text-align: center;
    justify-content: center;
    align-items: center;
}

.tableHead {
    display: flex;
    justify-content: left;
    max-width: 120px;
    text-align: center;
}

.tableFooter {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.tableFooter #totalWorkedHours {
    margin-right: 125px;
}
.week-heading {
    margin-left: 30px;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem
}

/* This is where we can edit the application to the user and mgt needs bonus, etc*/
.hourly-rate {
    position: absolute;
    right: 470px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.hourly-rate::placeholder {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

.-bonus {
    position: absolute;
    right: 470px;
    top: 35px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.hourly-rate input {
    max-width: 210px;
}

.-bonus input {
    max-width: 210px;
}

.-mileage {
    position: absolute;
    right: 470px;
    top: 70px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.-mileage input {
    max-width: 210px;
}

.date-input {
    position: absolute;
    right: 1130px;
    top: 35px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.date-input input {
    max-width: 210px;
}

.name-input input {
    max-width: 210px;
}

.name-input {
    position: absolute;
    right: 1130px;
    top: 0px;
    font-family: "Poppins" sans-serif;
    font-size: 15px;
}

.special-date {
    position: absolute;
    right: 1130px;
    top: 70px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.special-date input {
    max-width: 225px;
    margin: 0 auto;

}

/* This is where we can edit the side bar needs and stylization*/ 
.sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    left: -220px;
    top: 0;
    background-color: var(--light-green);
    overflow: auto;
    padding: 20px;
    transition: 0.5s;
}

.sidebar:hover {
    left: 0;
}

.tab {
    background-color: var(--light-green);
    border: solid;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s;
    font-size: 17px;
    display: flex;
    margin-bottom: 10px;
}

.sidebar-indicator {
    position: fixed;
    left: 0;
    top: 50%;
    background-color: var(--light-green);
    color: var(--yellow);
    padding: 33px;
}

.tableBody:hover {
    transform: scale(1.01);
    transition: transform 0.6s ease-in-out;
}

